[client]
port                            = 3306
socket                          = /tmp/mysql.sock

[mysqld]
user                            = mysql
port                            = 3306
socket                          = /tmp/mysql.sock
bind-address                    = 2001:19f0:5:37f3:5400:1ff:fee7:fc7c
basedir                         = /usr/local
datadir                         = /var/db/mysql
tmpdir                          = /var/db/mysql_tmpdir
slave-load-tmpdir               = /var/db/mysql_tmpdir
secure-file-priv                = /var/db/mysql_secure
innodb_buffer_pool_size         = 256M
innodb_flush_method             = O_DIRECT
